<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
     <img src="/imagen/logo-mercado-liebre.svg" alt="Logo de mercado liebre">
     <span>Lugar para poner barrade busqueda</span> 
     <p>Comprá en cuotas y sin tarjeta de crédito
    </p>  
    <nav>
        <ul>
            
            <li><a href="">Ofertas</a></li>   
            <li><a href="">Tienda</a></li>   
            <li><a href="">Vender</a></li>    
            <li><a href="">Ayuda</a> </li>   
            
        </ul>
        <ul>
            <li><a href="">crea tu cuenta</a></li>
            <li><a href="">ingresa</a></li>
            <li><a href="">Mis comtras</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner ofertas" width="100%">
         <section>
          <h4>Basado en tu ultima visita</h4>
          <article>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" width="100%">
             <p>$6.770</p>
             <p>40$ off</p>
             <h5>Cafetera Moulinex</h5>
          </article> 
         </section>
    </main>
   
     <footer>
       <article>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
       </article>
       <article>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
            </p>
       </article>
       <article>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
            <span>Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</span>

       </article>
    </footer>
</body>
</html>